### ------------------------- Flutter.gitignore ------------------------ ###

# Miscellaneous
*.class
#*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.classpath
.project
.settings/
.vscode/

# Flutter repo-specific
/bin/cache/
/bin/internal/bootstrap.bat
/bin/internal/bootstrap.sh
/bin/mingit/
/dev/benchmarks/mega_gallery/
/dev/bots/.recipe_deps
/dev/bots/android_tools/
/dev/devicelab/ABresults*.json
/dev/docs/doc/
/dev/docs/flutter.docs.zip
/dev/docs/lib/
/dev/docs/pubspec.yaml
/dev/integration_tests/**/xcuserdata
/dev/integration_tests/**/Pods
/packages/flutter/coverage/
version
analysis_benchmark.json

# packages file containing multi-root paths
.packages.generated

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
**/generated_plugin_registrant.dart
.packages
.pub-cache/
.pub/
build/
flutter_*.png
linked_*.ds
unlinked.ds
unlinked_spec.ds
/build/

# Android related
**/android/**/gradle-wrapper.jar
.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
# *.jks

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# macOS
**/macos/Flutter/GeneratedPluginRegistrant.swift

# Coverage
coverage/

# Symbols
# Symbolication related
app.*.symbols

# Exceptions to above rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
!/dev/ci/**/Gemfile.lock


## Related .gitignores ##

# Firebase configuration files / Google Services (e.g. APIs or Firebase)
ios/Runner/GoogleService-Info.plist
android/app/google-services.json

# Google Maps API
google_maps_api.xml

# Web related
lib/generated_plugin_registrant.dart

# Obfuscation related
app.*.map.json


### -------------------- VisualStudioCode.gitignore  ------------------- ###

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix


### ------------------------ Windows.gitignore  ------------------------ ###

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk


### ------------------------- Project Specific ------------------------- ###

# Include any specific files here.


### ---------------------------- References ---------------------------- ###
# Flutter          - https://github.com/flutter/flutter/blob/master/.gitignore
# Dart             - https://github.com/github/gitignore/blob/main/Dart.gitignore
# Swift            - https://github.com/github/gitignore/blob/main/Swift.gitignore
# Java             - https://github.com/github/gitignore/blob/main/Java.gitignore
# Kotlin           - https://github.com/JetBrains/kotlin/blob/master/.gitignore
# Android          - https://github.com/github/gitignore/blob/main/Android.gitignore
# Gradle           - https://github.com/github/gitignore/blob/main/Gradle.gitignore
# Maven            - https://github.com/github/gitignore/blob/main/Maven.gitignore

# JetBrains        - https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
# Xcode            - https://github.com/github/gitignore/blob/main/Global/Xcode.gitignore
# VisualStudioCode - https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
# SublimeText      - https://github.com/github/gitignore/blob/main/Global/SublimeText.gitignore
# Emacs            - https://github.com/github/gitignore/blob/main/Global/Emacs.gitignore
# Vim              - https://github.com/github/gitignore/blob/main/Global/Vim.gitignore

# Windows          - https://github.com/github/gitignore/blob/main/Global/Windows.gitignore
# macOS            - https://github.com/github/gitignore/blob/main/Global/macOS.gitignore
# Linux            - https://github.com/github/gitignore/blob/main/Global/Linux.gitignore

# Archives         - https://github.com/github/gitignore/blob/main/Global/Archives.gitignore
# Backup           - https://github.com/github/gitignore/blob/main/Global/Backup.gitignore
# JEnv             - https://github.com/github/gitignore/blob/main/Global/JEnv.gitignore


# === Criado pelo criador do projeto flutter
# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release